body {
  
     background-repeat: no-repeat; 
     background-position: center ;
    background-size: cover;
    background-attachment: fixed;
}
h1  {
       color:rgb(255, 255, 255); 
   font-size: 50px;
  text-align: center;}
p   {
  background-color: rgb(255, 255, 255);
  border: 10px solid rgb(0, 0, 0);
  padding:20px;
  margin: 50px;
}
img  {
  width: 5%;
  table, th, td {
    border:10px solid rgb(255, 255, 255);
  }  
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(255, 254, 254);
  display: flex;
  justify-content: center; 
}
li {
  float: left;
  margin-right: 100px;
 
}
li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(255, 255, 255);
}
.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'main main main right right right'
    'footer footer footer footer footer footer';
  gap: 10px;
  
  padding: 10px;
}


.grid-container > div {
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  padding: 10px 0;
  font-size: 80px;
}



    
    
    
    

    
    
